* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../assets/currency-background.jpg);
  background-size: cover;
  background-position-x: 40%;
  background-attachment: fixed;
}
.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px auto;
}
.options-main-container {
  background: rgb(170,158,158);
  background: linear-gradient(90deg, rgba(170,158,158,1) 0%, rgba(254,255,0,1) 100%);
  padding: 25px;
  color: var(--white);
}
input,
select {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  margin-bottom: 15px;
}
.result-main-container img {
  width: 50px;
  border-radius: 25px;
  display: block;
  margin: 15px auto;
}
.result-main-container {
  padding: 50px;
  text-align: center;
  background: rgb(255,252,0);
  background: linear-gradient(90deg, rgba(255,252,0,1) 0%, rgba(241,241,241,1) 100%);
  display: none;
}