* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --blue: #0000ffc5;
}
body {
  background-image: url(../assets/currency-background.jpg);
  background-size: cover;
  background-position-x: 40%;
}
.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px auto;
}
.options-main-container {
  background-color: var(--blue);
  padding: 25px;
  color: var(--white);
}
input,
select {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  margin-bottom: 15px;
}
.result-main-container img {
  width: 50px;
  border-radius: 25px;
}
.result-main-container {
  padding: 25px;
  text-align: center;
  background-color: var(--blue);
  color: var(--white);
  display: none;
}
