* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(#3a47b4, #ff5300);
    background-attachment: fixed;
}
article {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 50px;
}
#main-container {
    background-color: #0000ffc5;
    padding: 25px;
    color: white;
}
input,select, #button-converter {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin-bottom: 15px;
}
#result img {
    width: 50px;
    height: auto;
    border-radius: 25px;
}
#result {
    padding: 50px;
    margin: 10px;
    text-align: center;
    background-color: #0000ffde;
    color: white;
    display: none;
}
